.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    background: cornflowerblue;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
    padding: 10px;

    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

.text {
    min-width: 300px;
    max-width: 150px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.time {
    display: flex;
    justify-content: flex-end;

    color: #bbffbb
}