.label {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #335533;
}

.checkbox:checked {
    appearance: none;
    background: #99ff99;
}

.checkbox:focus {
    outline: #99ff99 solid 1px;
}

.spanClassName {

}